<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs', { user }) %>
<main class="grow">
    <div class="drawer lg:drawer-open h-full">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col p-4 gap-2">
            <!-- Page content here -->
            <label
                for="my-drawer-2"
                class="btn btn-primary drawer-button lg:hidden"
            >
                Controls
            </label>
            <%- include('partials/components/breadcrumbs.ejs', { breadcrumbs
                }) %>
            <%- include('partials/filesTable.ejs', {files :
                folder.childFiles}) %>
        </div>
        <div class="drawer-side h-full">
            <label
                for="my-drawer-2"
                aria-label="close sidebar"
                class="drawer-overlay"
            ></label>
            <ul
                class="menu bg-base-200 text-base-content min-h-full w-60 md:w-80 p-4 lg:border-r-2 border-base-content/20"
            >
                <!-- Sidebar content here -->
                <%- include('./partials/sidebar.ejs', {folder : locals.folder, sidebarTree, breadcrumbs}) %>
            </ul>
        </div>
    </div>
    <script type="module" src="/scripts/folder.min.js"></script>
    <script id="files-data" type="application/json">
        <%- locals.filesJson || [] %>
    </script>
</main>
<%- include('partials/newFile.ejs', {folder : locals.folder}) %>
<%- include('partials/newFolder.ejs', {folder : locals.folder}) %>
<%- include('partials/deleteFolder.ejs', {folder : locals.folder}) %>
<%- include('partials/fileDetails.ejs') %>
<%- include('partials/footer.ejs') %>
