<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs', { user }) %>
<div class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
        <!-- Page content here -->
        <label for="my-drawer" class="btn btn-primary drawer-button">Open drawer</label>
        <h1 class="text-5xl"><%= folder.name %></h1>
        <div>
            <p class="font-bold text-2xl">Welcome <%= locals.user.email %>.</p>
            <a href="/signout">Sign out</a>
        </div>
        <div>
            <div>
                <form action="/files" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="file">File to upload</label>
                        <input type="file" name="file" id="file">
                    </div>
                    <button type="submit">Upload</button>
                </form>
                <form action="/folders" method="post">
                    <div>
                        <label for="folder-name">New folder : </label>
                        <input type="text" name="folderName" id="folder-name" required>
                    </div>
                    <button type="submit">Create folder</button>
                </form>
            </div>
            <div>
                <p>Files</p>
                <%- include('partials/components/breadcrumbs.ejs', { breadcrumbs }) %>
                <% if (folder.childFiles.length <= 0) { %>
                    <p>No files yet !</p>
                <% } else { %>
                    <% folder.childFiles.forEach(file => { %>
                        <% if(file.type === FileType.FILE) {%>
                            <%- include('./partials/components/file.ejs', { file }) %>
                        <% } else { %>
                            <%- include('./partials/components/folder.ejs', { folder:file }) %>
                        <% } %>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>
    <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
            <!-- Sidebar content here -->
            <li><a>Sidebar Item 1</a></li>
            <li><a>Sidebar Item 2</a></li>
        </ul>
    </div>
</div>
<%- include('partials/footer.ejs') %>